<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/about.png" alt="about" class="img-fluid" title="Naman Classic" >
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather app </p>
                        <p>I Am </p>
                        <h1> Naman Chaturvedi</h1>
                        <p><span id="abou"> A Full stack Web Developer</span></p>
                            
                        </div>
                
                </div>    
                   
            </div>
        </div>
    </div>
    
    
    <!-- foother code  -->

{{>footer}}
</body>
</html>